#Steakheader {
		text-align: center;	
		Color: Red;
		font-family: 'Indie Flower', cursive;
		}
#Navigationlinks {
	border-spacing: 20px;
	}
.Steakfooter {
	text-align: center;	
	Color: red;
	}
.Menu_section {
	margin-bottom: 4cm; 
	border-spacing: 20px;
	width: 50%;
	 margin-left:auto; 
   	 margin-right:auto;
	background-color: lightblue;
	}
th 	{
	font-size: 40px;
	}

a 	{
	text-decoration: underline;
	}
a:link  {
	color:Green
	}

a:visited{
	color: Red;
	}
a:hover {
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;
	}
a:active {
	text-decoration: none;
	}




