#picture{
	background-image: url("legacy_album_cover.jpg");
	background-size: 100% 100%;
   	background-repeat: no-repeat;
    	}
#tracklist1 {
	 margin: auto;
	border: 1;
	width: 80%;
	}
td      {
	Background-color: yellow;
	}
.italic {
    	font-style: italic;
	}
.Monospace {
	font-family: 'Space Mono', monospace;
	}
