#Steakheader {
		text-align: center;	
		Color: blue;
		font-family: 'Indie Flower', cursive;
		}
.Steakfooter {
	text-align: center;	
	Color: red;
	}
#Navigationlinks {
	border-spacing: 20px;
}
#Menu_section {
	margin-bottom: 4cm; 
	border-spacing: 20px;
	width: 50%;
	 margin-left:auto; 
   	 margin-right:auto;
	background-color: lightblue;
	}

